[submodule "lib/ks-common-sc"]
	path = lib/ks-common-sc
	url = https://github.com/KyberNetwork/ks-common-sc
[submodule "lib/ks-common-sc-latest"]
	path = lib/ks-common-sc-latest
	url = https://github.com/KyberNetwork/ks-common-sc
